@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Shadows+Into+Light+Two&family=Titillium+Web:wght@200&display=swap');

.header{
    box-shadow: 0 0 10px rgb(218, 213, 213);
    background-color: #e9e9e9;

    position: sticky;
    top: 0;
    z-index: 1000;
   
 /* background-color: rgba(0, 0, 0, 0.397); */
 /* background-color: #e9e9e9; */

 /* border: 2px solid black; */
 
}
.pic{
   margin-left: 65vmax;
   border-radius: 50%;
}
.menuBurger{
    height: 3.5vmax !important;
}



.link2{
    -webkit-font-smoothing: antialiased !important;
    font-size: 1.215rem;
    font-family: 'Nunito Sans', sans-serif !important;
    color: #9c9a9a;
    text-decoration: none;
    margin-left: 10px;


}

   .link2:hover {
    color: black;
}

.LinkHeading{
    font-family: 'Shadows Into Light Two', cursive !important;
    text-decoration: none !important;
    color: #9c9a9a !important;
    font-size: x-large;
    font-weight: 500;
}

